# Per default everything gets normalized and gets LF line endings on checkout.
* text eol=lf

*.lock text
*.py text

# These are binary so should never be modified by git.
*.bin binary
*.bit binary
*.pdi binary
*.jpg binary
*.JPG binary
*.png binary
*.zip binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.xsa binary
