# This workflow will upload a Python Package to PyPI when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build & Upload to PyPI (${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pypi-target || 'test' }} instance)

on:
  workflow_dispatch:
    inputs:
      pypi-target:
        description: 'PyPI Target'
        required: true
        default: 'test'
        type: choice
        options:
          - 'test'
          - 'prod'

  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  release-build:
    name: Build Release Distributions
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions as job artifact
        uses: actions/upload-artifact@v5
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    name: Publish to PyPI (${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pypi-target || 'test' }})
    runs-on: ubuntu-latest
    
    needs:
      - release-build

    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    # Dedicated environments with protections for publishing are strongly recommended.
    # For more information, see: https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#deployment-protection-rules
    environment:
      name: publish-to-pypi
      # OPTIONAL: uncomment and update to include your PyPI project URL in the deployment status:
      url: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pypi-target == 'prod' && 'https://pypi.org/project/chipscopy/' || 'https://test.pypi.org/project/chipscopy/' }}

    steps:
      - name: Download release distributions from job artifact
        uses: actions/download-artifact@v5
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pypi-target == 'prod' && '' || 'https://test.pypi.org/legacy/' }}
          packages-dir: dist/

  # TODO - Once published
  #   - create a job that attempts to install the package from the target PyPI
  #   - creates a GitHub Release for the published version